[submodule "whitelist-transfer-hook"]
	path = whitelist-transfer-hook
	url = https://github.com/ASCorreia/whitelist-transfer-hook.git
[submodule "whitelist-challenge/whitelist-transfer-hook"]
	path = whitelist-challenge/whitelist-transfer-hook
	url = https://github.com/ASCorreia/whitelist-transfer-hook.git
[submodule "whitelist-challenge/whitelist_challenge_anchor"]
	path = whitelist-challenge/whitelist_challenge_anchor
	url = https://github.com/ajeeshRS/whitelist_challenge_anchor.git
[submodule "litesvm-challenge/escrow-litesvm"]
	path = litesvm-challenge/escrow-litesvm
	url = https://github.com/ASCorreia/escrow-litesvm.git
[submodule "litesvm-challenge/escrow_litesvm_challenge"]
	path = litesvm-challenge/escrow_litesvm_challenge
	url = https://github.com/ajeeshRS/escrow_litesvm_challenge.git
[submodule "whitelist_vault_week1_challenge"]
	path = whitelist_vault_week1_challenge
	url = https://github.com/ajeeshRS/whitelist_vault_week1_challenge.git
[submodule "magicblock-vrf/magicblock-er-example"]
	path = magicblock-vrf/magicblock-er-example
	url = https://github.com/ASCorreia/magicblock-er-example.git
[submodule "magicblock-vrf/magicblock-VRF-plugin-ER"]
	path = magicblock-vrf/magicblock-VRF-plugin-ER
	url = https://github.com/ajeeshRS/magicblock-VRF-plugin-ER.git
[submodule "pinocchio-escrow"]
	path = pinocchio-escrow
	url = https://github.com/ajeeshRS/pinocchio-escrow.git
